<div class="group hover:bg-ac1/40 hover:shadow-md hover:shadow-neutral-800 p-2 rounded-2xl w-52" (contextmenu)="onRightClick($event)">
    <div class="flex">
        <button (click)="playSong()" class="justify-items-center gap-5 grid grid-cols-1 group-hover:scale-105 duration-100 transform">
            <div class="z-10 absolute opacity-0 hover:opacity-30 w-full duration-200">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="fill-ac1 mt-2 ml-7.5 size-28"><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/></svg>
            </div>
            <img [src]="coverUrl" class="z-0 rounded-xl size-32">
            <div class="grid grid-cols-1 text-left">
                <h1 class="min-w-46 text-xl">{{title}}</h1>
                <div class="flex justify-between">
                    <p class="text-neutral-400 text-sm">{{artist}}</p>
                    <h1 class="mt-auto text-neutral-400 text-sm">{{duration}}</h1>
                </div>
            </div>
        </button>
    </div>
</div>

<div *ngIf="this.isModalOpen" class="z-50 fixed inset-0 flex justify-center items-center bg-black/60 transition-opacity duration-300">
    <div class="flex flex-col gap-2 bg-neutral-900 p-2 border-2 border-neutral-800 rounded-2xl h-80">
        <h1 class="text-2xl">Add to Playlist</h1>
        <div class="flex flex-col gap-2 bg-neutral-600/20 p-2 border-2 border-neutral-800 rounded-2xl h-full overflow-y-scroll scroll-smooth">
            <app-playlist *ngFor="let playlist of this.songAdding.playlists" [playlistId]="playlist.id" playlistName={{playlist.name}} playlistCoverPath={{playlist.cover_path}} [songId]="this.id" (click)="close()"></app-playlist>
        </div>
        <div class="flex gap-4 mt-auto">
            <button (click)="close()" class="bg-neutral-600/20 hover:bg-ac1/40 hover:shadow-lg hover:shadow-neutral-800 fill-neutral-600 hover:fill-ac1 p-2 border-2 border-neutral-800 hover:border-ac1/40 rounded-2xl w-full h-fit hover:scale-105 duration-200 transform">Close</button>
        </div>
    </div>
</div>
